/*Global styles*/

.image1 {
  grid-area: image1;
}
.text1 {
  grid-area: text1;
}
.image2 {
  grid-area: image2;
}
.text2 {
  grid-area: text2;
}

main img {
  max-width: 880px;
  width: 100%;
}

/*Mobile styles*/
@media only screen and (max-width: 659px) {
  main {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
      "image1"
      "text1"
      "image2"
      "text2";
  }
  .text2 {
    margin: 0 0 1em 0;
  }
  main p {
    display: none;
  }
  h1,
  h2,
  h3 {
    text-align: center;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 660px) {
  main {
    display: grid;
    grid-gap: 1rem;
    justify-items: stretch;
    grid-template-areas:
      "image1 text1"
      "text2 image2";
  }
  .image1,
  .image2 {
    margin: 0.5em 0;
  }
  h1,
  h2,
  h3 {
    margin: 0.5em 0 0 0;
  }
  .text2 {
    text-align: right;
  }
}
