/*Global styles*/

.image1 {
  grid-area: image1;
}

.text1 {
  grid-area: text1;
}

.image2 {
  grid-area: image2;
}

.text2 {
  grid-area: text2;
}

main img {
  max-width: 880px;
  width: 100%;
}

.button {
  background: rgb(107, 51, 8);
  background: linear-gradient(
    0deg,
    rgba(107, 51, 8, 1) 0%,
    rgba(143, 62, 0, 1) 51%
  );
  padding: 15px;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  border: solid 2px #8f3e00;
}

/*Mobile styles*/
@media only screen and (max-width: 659px) {
  main {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      "image1"
      "text1"
      "image2"
      "text2";
  }
  .text2 {
    margin: 0 0 1em 0;
  }
  main p {
    display: none;
  }
  h1,
  h2,
  h3 {
    text-align: center;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 660px) {
  main {
    display: grid;
    grid-gap: 1rem;
    justify-items: stretch;
    grid-template-areas:
      "image1 text1"
      "text2 image2";
  }
  .image1,
  .image2 {
    margin: 0.5em 0;
  }
  h1,
  h2,
  h3 {
    margin: 0.5em 0 0 0;
  }
  .text2 {
    text-align: right;
  }
  .button:hover {
    color: #8f3e00;
    background-color: white;
    border: solid 2px #8f3e00;
  }
}
