/*Global styles*/

main {
  max-width: none;
}

h1 {
  grid-area: h1;
}

.image1 {
  grid-area: image1;
}

.text1 {
  grid-area: text1;
}

.add1 {
  grid-area: add1;
}

.image2 {
  grid-area: image2;
}

.text2 {
  grid-area: text2;
}

.add2 {
  grid-area: add2;
}

.image3 {
  grid-area: image3;
}

.text3 {
  grid-area: text3;
}

.add3 {
  grid-area: add3;
}

.image4 {
  grid-area: image4;
}

.text4 {
  grid-area: text4;
}

.add4 {
  grid-area: add4;
}

.image5 {
  grid-area: image5;
}

.text5 {
  grid-area: text5;
}

.add5 {
  grid-area: add5;
}

.image6 {
  grid-area: image6;
}

.text6 {
  grid-area: text6;
}

.add6 {
  grid-area: add6;
}

.search-heading {
  grid-area: search-heading;
}

.search {
  grid-area: search;
}

.cover {
  object-fit: cover;
}

form {
  margin: 0 1em 1em 0;
}

.button {
  background: #8f3e00;
  box-shadow: 2px 5px 16px 0px #0b325e, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding: 15px;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  border: solid 2px #8f3e00;
}

.error {
  display: none;
}

.stars i {
  color: #0b3a40;
  font-size: 1rem;
  padding: 0;
  margin: 17px 0 0 0;
}

.stars p {
  color: #0b3a40;
  font-size: 1rem;
  margin-left: 5px;
}

.stars {
  display: flex;
  flex-direction: row;
}

.heart i {
  color: #0b3a40;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

/*Mobile styles*/

@media only screen and (max-width: 659px) {
  main {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      "h1 h1 h1"
      "image1 image1 image1"
      "text1 text1 add1"
      "image2 image2 image2"
      "text2 text2 add2"
      "image3 image3 image3"
      "text3 text3 add3"
      "image4 image4 image4"
      "text4 text4 add4"
      "image5 image5 image5"
      "text5 text5 add5"
      "image6 image6 image6"
      "text6 text6 add6"
      "search-heading search-heading search-heading"
      "search search search";
  }
  main img {
    width: 375px;
    height: 280px;
    width: 100%;
  }
  .add1,
  .add2,
  .add3,
  .add4,
  .add5,
  .add6 {
    margin: 1em;
    padding: 1em;
  }
}

/*Desktop styles*/

@media only screen and (min-width: 660px) {
  main {
    display: grid;
    grid-gap: 2rem 1rem;
    margin-bottom: 1rem;
  }
  main img {
    width: 200px;
    height: 279px;
  }
  .search-heading {
    margin-top: 10px;
  }
  .button:hover {
    color: #8f3e00;
    background: white;
    border: solid 2px #8f3e00;
  }
  h2 {
    font-size: 1.5rem;
  }
}

/*Desktop small styles*/

@media only screen and (min-width: 660px) and (max-width: 1093px) {
  main {
    grid-template-areas:
      "h1 h1 search-heading search-heading"
      "image1 text1 search search"
      "image1 add1 search search"
      "image2 text2 search search"
      "image2 add2 search search"
      "image3 text3 search search"
      "image3 add3 search search"
      "image4 text4 search search"
      "image4 add4 search search"
      "image5 text5 search search"
      "image5 add5 search search"
      "image6 text6 search search"
      "image6 add6 search search";
  }
}

/*Desktop medium styles*/

@media only screen and (min-width: 1094px) and (max-width: 1534px) {
  main {
    grid-template-areas:
      "h1 h1 h1 h1 search-heading search-heading"
      "image1 text1 image2 text2 search search"
      "image1 add1 image2 add2 search search"
      "image3 text3 image4 text4 search search"
      "image3 add3 image4 add4 search search"
      "image5 text5 image6 text6 search search"
      "image5 add5 image6 add6 search search";
  }
}

/*Desktop big styles*/

@media only screen and (min-width: 1535px) {
  main {
    grid-template-areas:
      "h1 h1 h1 h1 h1 h1 search-heading search-heading"
      "image1 text1 image2 text2 image3 text3 search search"
      "image1 add1 image2 add2 image3 add3 search search"
      "image4 text4 image5 text5 image6 text6 search search"
      "image4 add4 image5 add5 image6 add6 search search";
  }
}
