/*Global styles*/

.big {
  grid-area: big;
  max-width: 880px;
  width: 100%;
}

.text-area {
  grid-area: text-area;
  max-width: 880px;
  width: 100%;
}

.small-images {
  grid-area: small-images;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.small1,
.small2,
.small3 {
  max-width: 200px;
  width: 100%;
  flex: 1;
  margin: 1rem 1rem 1rem 0;
}

.small3 {
  margin: 1rem 0 1rem 0;
}

main {
  display: grid;
  grid-gap: 1rem;
}

h2 {
  margin-top: 0;
}

/*Mobile styles*/

@media only screen and (max-width: 659px) {
  main {
    grid-template-areas:
      "h1"
      "big"
      "small-images"
      "text-area";
  }
}

/*Desktop styles*/

@media only screen and (min-width: 660px) {
  main {
    grid-template-areas:
      "h1 h1"
      "big text-area"
      "small-images text-area"
      ". text-area";
  }
}
