/*Global styles*/

h1 {
  grid-area: h1;
}

.big {
  grid-area: big;
  max-width: 880px;
  width: 100%;
}

.small1 {
  grid-area: small1;
  max-width: 200px;
  width: 100%;
}

.small2 {
  grid-area: small2;
  max-width: 200px;
  width: 100%;
}

.small3 {
  grid-area: small3;
  max-width: 200px;
  width: 100%;
}

.text-area {
  grid-area: text-area;
  max-width: 880px;
  width: 100%;
}

.size {
  grid-area: size;
}

.button {
  grid-area: button;
}

.small-images {
  grid-area: small-images;
  width: 100%;
}

/*Mobile styles*/

@media only screen and (max-width: 659px) {
  main {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      "h1"
      "big"
      "small-images"
      "text-area"
      "size"
      "button";
  }
}

/*Desktop styles*/

@media only screen and (min-width: 660px) {
  main {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      "h1 h1"
      "big text-area"
      "big text-area"
      "big size"
      "small-images button";
  }
}
