/*Global styles*/

h1 {
  grid-area: h1;
}

.big {
  grid-area: big;
  max-width: 880px;
  width: 100%;
}

.text-area {
  grid-area: text-area;
  max-width: 880px;
  width: 100%;
}

.small-images {
  grid-area: small-images;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.small1,
.small2,
.small3 {
  max-width: 200px;
  width: 100%;
  flex: 1;
  margin: 1rem 1rem 1rem 0;
}

.small3 {
  margin: 1rem 0 1rem 0;
}

main {
  display: grid;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

h2 {
  margin-top: 0;
}

.size {
  padding: 1rem 0 1rem 0;
}

.size-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  margin: 1rem 0.5rem;
  padding: 1rem;
  border: #0b3a40 solid 2px;
}

.box:active {
  background-color: #0b3a40;
  color: white;
}

.bold {
  font-weight: bold;
}

.button {
  background: linear-gradient(
    0deg,
    rgba(107, 51, 8, 1) 0%,
    rgba(143, 62, 0, 1) 51%
  );
  box-shadow: 2px 5px 16px 0px #0b325e, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding: 15px;
  margin: 2rem 2rem 5rem 0;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  border: solid 2px #8f3e00;
}

/*Mobile styles*/

@media only screen and (max-width: 659px) {
  main {
    grid-template-areas:
      "h1"
      "big"
      "small-images"
      "text-area";
  }
}

/*Desktop styles*/

@media only screen and (min-width: 660px) {
  main {
    grid-template-areas:
      "h1 h1"
      "big text-area"
      "small-images text-area"
      "small-images text-area";
  }
  .box:hover {
    background-color: #0b3a40;
    color: white;
  }
  .button:hover {
    color: #8f3e00;
    background: white;
    border: solid 2px #8f3e00;
  }
}
